
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F064E;
    border-bottom: 5px solid black;
    padding: 20px 50px 30px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
}



#button {
    display: inline-block;
    background-color: white;
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
    box-shadow: 15px 15px 0 black;
    margin-right: 0;
    transition-duration: 0.5s;
}

a#button {
    color: black;
    font-weight: 800;
}

#button:hover {
    box-shadow: none;
}